.header-area {
    background-color: #27d658;
    width: 100%;
    height: 50px;
    display: flex ;
    .loginorlogout {
       margin: auto;
           
       .ant-btn {
           border: none;
           background-color: unset;
           font-size: 20px;
           margin: auto;
       }
    }
    
}
.login-modal {
    .ant-modal-content {
width: 50%;
margin: auto;
    }
}
.header-txt {
    padding: 3px 10px 60px 27px;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 80%;
}
.input-newtodo {
    margin:10px;
}
.todo-item-area {
        display: flex;
        border: 1px solid greenyellow;
        margin: auto;
        width: 50%;
        padding: 20px;
        margin-top: 20px;
}
.todo-info-area {
        width: 90%;
}

.asstodo-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.icon-area {
    margin: auto;
    display: flex;
}
.addtodo-form {
        display: flex;
        flex-direction: column;
        margin: auto;
}

.addtodo-btn {
    margin:20px
}

.status-area {
display:flex;
margin:10px
}

.addtodo-chackbox {
zoom: 1.5;
margin-left: 10px;
}


.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
}

.loader {
    color: #19e64d;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before,
.loader:after {
    position: absolute;
    content: '';
}

.loader:before {
    width: 5.2em;
    height: 10.2em;
    background: #eff2ed;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.1em 5.1em;
    transform-origin: 5.1em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
}

.loader:after {
    width: 5.2em;
    height: 10.2em;
    background: #eff2ed;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 4.9em;
    -webkit-transform-origin: 0.1em 5.1em;
    transform-origin: 0.1em 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

